// .Container {
// 	@apply flex-1;
// 	display: flex;
// 	flex-direction: column;
// 	// justify-content: space-between;
// 	align-items: center;
// 	padding: 0 20px;
// 	height: 80px;
// 	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

// 	.Specials {
// 		margin-top: 30px;
// 		margin-bottom: 20px;
// 	}

// 	.Menu {
// 		display: flex;
// 		flex-direction: column;
// 		margin-bottom: 10px;

// 		section {
// 			// @apply rounded-xl;
// 			// display: flex;
// 			// flex-direction: column;
// 			// align-items: center;
// 			// padding: 10px;
// 			// margin: 10px;
// 			// background-color: var(--gray-6);

// 			h1 {
// 				@apply text-2xl;
// 			}

// 			ul {
// 				padding: 10px;
// 				padding-left: 40px;
// 				padding-right: 40px;

// 				.Item {
// 					.ItemName {
// 						@apply text-xl;
// 					}

// 					.Price {
// 						@apply text-lg;
// 					}

// 					.Description {
// 						margin-top: 10px;
// 					}
// 				}

// 				.Separator {
// 					margin-bottom: 20px;
// 				}
// 			}
// 		}
// 	}
// }

.MediaCard {
	background-color: 'var(--gray-5)';
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Item {
	.ItemName {
		@apply text-xl;
		margin-bottom: 10px;
	}

	.Price {
		@apply text-lg;
	}

	.Description {
		// margin-top: 10px;
	}
}

.Separator {
	margin-bottom: 20px;
}

.SectionSeparator {
	width: 200px;
	height: 2px;
	background-color: var(--teal-9);
	@apply my-4;
}

.MenuHeader {
	@apply text-2xl;
}
