.Item {
	.ItemName {
		@apply text-xl;
		margin-bottom: 10px;
	}
	.Price {
		@apply text-lg;
	}
}

.Separator {
	margin-bottom: 20px;
}

.SectionSeparator {
	width: 200px;
	height: 2px;
	background-color: var(--teal-9);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.MenuHeader {
	@apply text-2xl;
	width: 100%;
	text-align: center;
}

.MenuRow {
	@apply flex-col gap-10 lg:gap-0 lg:flex-row;
	display: flex;
	width: 100%;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.MenuSection {
	@apply flex flex-col items-center w-full px-5 lg:px-10;

	ul {
		width: 100%;
	}
}

.MenuSectionGrid {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	align-items: center;

	ul {
		@apply w-full mt-5 grid grid-cols-1 lg:grid-cols-2;
	}
}

.GridCell {
	@apply px-5 lg:px-10;
}

.MenuImageContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.ImageCard {
	@apply w-11/12 lg:w-10/12;
}
