@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/teal-dark.css';
@import '@radix-ui/colors/teal-dark-alpha.css';

body {
	color: var(--gray-12);
	background-color: var(--gray-1);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.rsis-container div {
	background-position: center;
}
