.Footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--gray-3);
	color: white;
	min-height: 10vh;
	@apply px-20;
	@apply py-8;

	@media screen and (max-width: 768px) {
		flex-direction: column;
		@apply gap-5;
	}

	ul {
		display: flex;
		@apply gap-5;
	}
}
