.Container {
	flex: 1 1 0%;
	display: flex;
	flex-direction: column;
	margin: auto;

	.Grid {
		flex: 1 1 0%;
		max-width: 80vw;
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));

		@media (min-width: 640px) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 10px;
			margin-left: 20px;
			margin-right: 20px;
			h2 {
				@apply text-lg;
				@apply font-bold;
			}
			p {
			}
		}
	}
}
